/* I css documentet så är allting indelat i olika små grupper av id och classer. "dark" är ett exempel. När html filerna ser att det står "class=dark" så tar den informatinen om utseende från "dark" delen och gör bakgrunden mörkgrön och texten vit. Margin betyder hur mycket tomrum det är på bottom respective top av boxen och px betyder pixlar*/

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#bf9f48;
}
/* Varför jag har en % och på with är för att sidan ska se bettre ut iolika stora fönster. Tillexempel mobil. */
/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#b15647;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#004d47;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header */
header{
  background:#004d47;
  color:#bc987e;
  padding-top:30px;
  min-height:70px;
  border-bottom:#b15647 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#b15647;
  font-weight:bold;
}
/*När du holler muspekaren över en av sub-sidornas titel så ändrar den färg.*/
header a:hover{
  color:#bc987e;
  font-weight:bold;
}
/*centrerad backgrundsbil och centrerad text*/
/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/coffee_beans.jpg') center;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Emailsubmit */
#emilsubmit{
  padding:15px;
  color:#ffffff;
  background:#177748
}
/*Float left och float Right gör så föremålen drar sig så långt höger/vänster dom kan. Detta är bra för det tar hänsyn till sidans storlek*/
#emilsubmit h1{
  float:left;
}

#emilsubmit form {
  float:right;
  margin-top:15px;
}
/*Sidan kommer endast acceptera emil där du skall skriva in emil. det gör inte att skicka in nögat som inte är en emil.*/
#emilsubmit input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #004d47 solid 2px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#b15647;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #emilsubmit h1,
  #emilsubmit form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #emilsubmit button, .quote button{
    display:block;
    width:100%;
  }

  #emilsubmit form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
